td.smallinfo {
    font-size: 8px;
}

body {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif
}
    
h1 {
    font-size: 20px;
    font-family: arial;
    background-color: #dde;
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #cce;
    padding-left: 10px;
}

h2 {
    font-size: 16px;
    font-family: arial;
    text-transform: uppercase;
}

table {
    margin: 8px;
    font-size: 15px;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}

tr.odd {
    background-color: #eeeef3;
}

td, th {
    padding: 2px;
}

tr.even:hover {
    background-color: #eaeaea;
}

tr.odd:hover {
    background-color: #dadae1;
}


th {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#breadcrumbs-top {
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 12px;
}

#breadcrumbs-bottom {
    border-top: 1px solid #dde;
    clear: both;
    padding-top: 20px;
    font-size: 12px;
}

img.plotimg {
    float: right;
}

span.large {
    font-size:30px;
}

span.small_big {
    font-size:12px;
}

span.step_available a {
    
}

span.step_unavailable a {
    color: #f00;
}

#imgbox {
    float: right;
    width: 500px;
    position: absolute;
    right: 0px;
    top: 200px;
}

#imgspace {
  
	
}

code  {
	font-size: 10px;
}

div.popup_parent {
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 2;
    visibility: hidden;
    position: fixed;
}

div.popup_box {

    left: 20px;
    top: 100px;
    width: 300px;
    padding: 10px;
    font-size: 12px;
    background-color: #dde;
    z-index: 3;
    position: fixed;
    visibility: hidden;
}