{% extends "layout.jinja2" %}

{% block content %}

    <h1>Timestep: {{ timestep }}</h1>


<table class="sortable draggable" id="data-table">
    <tr id="header-row">
        <th>Number</th>
        <th>NDM()</th>
        <th class="sorttable_nosort editable" id="header-colid-1"></th>
        <th>Go</th>
    </tr>

    {% for h in halos %}
        <tr class="{{ loop.cycle('odd','even') }}" id="dbid-{{ h.id }}">
            <td>{{ h.halo_number }}</td>
            <td>{{ h.NDM }}</td>
            <td class="colid-1"></td>
            <td><a href="{{ h.url }}">Go &rarr;</a></td>
        </tr>
    {% endfor %}

</table>

<script language="JavaScript">

$.fn.markAsColumnInsertPoint = function() {
    return $(this).makeEditableTemplate(addBlankColumn, removeColumn, updateColumnData);
}

function updateColumnData(miniLanguageQuery, columnId) {
    $('#header-'+columnId).html("<img src='/static/spinner.gif'/>"+miniLanguageQuery)
    $.ajax({
        type: "GET",
        url: "{{ gather_url }}"+uriEncodeQuery(miniLanguageQuery)+".json",
        success: function (data) {
            console.log(data);
            if(data.error) {
                 $('#header-'+columnId).html("<span class='load_table_failed'>"+miniLanguageQuery+"</span>")
                 // alert(data.error_class+": "+data.error);
            } else {
                 $('#header-'+columnId).html(miniLanguageQuery);
                $.each(data.data_formatted, function(i, item) {
                    var dbid = data.db_id[i];
                    $('#dbid-'+dbid).find('.'+columnId).html(item);
                })
            }
        }
    });
}

function addBlankColumn(after) {
    var new_name = "column-"+Math.random().toString(36).substring(7);
    $('#data-table tr').each(function(index) {
        $(this).find("#header-"+after).after("<th id='header-"+new_name+"' class='editable'></th>");
        $(this).find("."+after).after("<td class='"+new_name+"'></td>");
    })
    $('#header-'+new_name).markAsColumnInsertPoint();
    return new_name;
}

function removeColumn(name) {
     $('#data-table tr').each(function(index) {
        $(this).find("#header-"+name).remove();
        $(this).find("."+name).remove();
    })
}

function setupInsertionPoint() {
    $('#header-colid-1').markAsColumnInsertPoint();
}


setupInsertionPoint();

</script>

{% endblock content %}
