{% extends "layout.jinja2" %}

{% block content %}

    <h1>Halo {{ halonumber }} of {{ timestep }}</h1>


    <div class="keeponscreen dynamic-update" id="navigation">
        <p>At z={{ts_info.z}}, t={{ts_info.t}}, <span class="mono">dbid={{ this_id }}</span>;
            show this halo in another step (if available):
            {% for link, name in zip(time_links.urls, time_links.names) %}
                <a href="{{ link }}">{{ name }}</a>
            {% endfor %}


        <form id="select-othersimulation">
            In this timestep: jump to halo
            PREV/NEXT
            <label for="target_sim_id">Find the same halo in another simulation:</label>
            <select name="target_sim_id" onchange="findInOtherSimulation();">
                <option value="yada">Enchilada</option>
            </select>
        </form>

    </div>

    <h2>Properties</h2>


    <!-- <form id="myform" class="dynamic-update" action="${url(controller='plot', action='xy_img', id='txt')}" target="_blank">-->
    <input type="hidden" name="timestep_id" value="${timestep_id}">
    <input type="hidden" name="halo_id" value="${this_id}" >

    <table>
        <tr class="collapsibletable"><th>Plot</th><th>Property</th><th>Value</th></tr>
        <tr id="custom-row-1">
            <td></td><td id="nametg-custom-row-1" class="editable">Add +</td><td id="contents-custom-row-1"></td>
        </tr>
        {%  for prop in properties %}
            <tr>
                {%  if prop.is_array %}
                    <td>Plot</td>
                {% else %}
                    <td><input  name="x" type="radio" value="{{ prop.name }}"/><input name="y" type="radio" value="{{ prop.name }}"/></td>
                {% endif %}
                <td>{{ prop.name }}</td><td>{{ prop.value }}</td>
            </tr>
        {%  endfor %}
    </table>


    <script language="JavaScript">

        $.fn.markAsRowInsertPoint = function() {
            return $(this).makeEditableTemplate(addBlankRow, removeRow, updateRowData);
        }

        function updateRowData(miniLanguageQuery, rowId) {
            $.ajax({
                type: "GET",
                url: "{{ calculate_url }}"+uriEncodeQuery(miniLanguageQuery)+".json",
                success: function (data) {
                    var selected_row = $('#'+rowId);
                    if(data.error) {
                        $('#nametg-'+rowId).html("<span class='load_table_failed'>"+miniLanguageQuery+"</span>")
                        alert(data.error_class+": "+data.error);
                    } else {
                        $('#nametg-'+rowId).html(miniLanguageQuery);
                        $('#contents-'+rowId).html(data.data_formatted);
                    }
                }
            });
        }

        function addBlankRow(after) {
            var new_name = "custom-row-"+Math.random().toString(36).substring(7);

            $('#'+after).after("<tr id='"+new_name+"'><td></td><td class='editable' id='nametg-"+new_name+"'>Add +</td><td id='contents-"+new_name+"'></td>")
            $('#nametg-'+new_name).markAsRowInsertPoint();
        }

        function removeRow(name) {
            $("#"+name).remove()
        }

        $('#nametg-custom-row-1').markAsRowInsertPoint();

    </script>

{% endblock content %}
