{% extends "layout.jinja2" %}

{% block content %}

    <h1>Timestep: {{ timestep }}</h1>


<table class="sortable draggable" id="data-table">
    <tr id="header-row">
        <th>Number</th>
        <th>N_DM</th>
        <th class="sorttable_nosort" id="header-colid-1" class="colid-1">Add +</th>
        <th>Go</th>
    </tr>

    {% for h in halos %}
        <tr class="{{ loop.cycle('odd','even') }}" id="dbid-{{ h.id }}">
            <td>{{ h.halo_number }}</td>
            <td>{{ h.NDM }}</td>
            <td class="colid-1"></td>
            <td><a href="{{ h.url }}">Go &rarr;</a></td>
        </tr>
    {% endfor %}

</table>

<script language="JavaScript">

$.fn.markAsColumnInsertPoint = function() {
    return $(this).makeEditableTemplate(addBlankColumn, removeColumn, updateColumnData);
}

function updateColumnData(miniLanguageQuery, columnId) {
    $.ajax({
        type: "GET",
        url: "{{ gather_url }}"+uriEncodeQuery(miniLanguageQuery)+".json",
        success: function (data) {
            console.log(data);
            if(data.error) {
                 $('#header-'+columnId).html("<span class='load_table_failed'>"+miniLanguageQuery+"</span>")
                alert(data.error_class+": "+data.error);
            } else {
                 $('#header-'+columnId).html(miniLanguageQuery);
                $.each(data.data_formatted, function(i, item) {
                    var dbid = data.db_id[i];
                    $('#dbid-'+dbid).find('.'+columnId).text(item);
                })
            }
        }
    });
}

function addBlankColumn(after) {
    var new_name = "column-"+Math.random().toString(36).substring(7);
    $('#data-table tr').each(function(index) {
        $(this).find("#header-"+after).after("<th id='header-"+new_name+"'>Add +</th>");
        $(this).find("."+after).after("<td class='"+new_name+"'></td>");
    })
    $('#header-'+new_name).markAsColumnInsertPoint();
}

function removeColumn(name) {
     $('#data-table tr').each(function(index) {
        $(this).find("#header-"+name).remove();
        $(this).find("."+name).remove();
    })
}

$('#header-colid-1').markAsColumnInsertPoint();

</script>

{% endblock content %}
